
@{
	ViewBag.Title = "Hakkımda";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>


</head>

<body>


	<div class="page-header jumbotron p-3 p-md-5 text-white mb-0 page-about">
		<div class="dark-overlay"></div>
		<div class="container">
			<div class="col-md-6 px-0 mx-auto ">
				<div class="text-center page-banner-coontent">
					<h2>MERHABA! Ben Can </h2>
					<p>Benim hakkımda daha fazla bilgi edinmek için okumaya devam ediniz.</p>
				</div>
			</div>
		</div>
	</div>
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-6">
					<div class="about-content">
						<h3>Ben Kimim ?</h3>
						<h5>Profesyonel Yazılımcı, Web Geliştirici</h5>
						<p class="font-italic">Yıldız Teknik Üniversitesi Matematik Mühendisliği 3.sınıf öğrencisiyim. Yazılım sektöründe yaklaşık 1.5 yıllık, Web gelistirme alanında ise 5 aylık bir geçmişim ve bununla beraber gerçekleştirmiş olduğum çeşitli projelerim var. Aklınızdaki Projeyi hayata geçirmek istiyorsanız bana itetişim kısmından ulaşabilirsiniz.  </p>
						<blockquote>
							<i class="fa fa-quote-left"></i> Sadece hayal kurma, kurduğun hayali pratiğe geçirmek için gerekenleri yap <i class="fa fa-quote-right"></i>
						</blockquote>
						<p>Hala birşeyler yapmak için neden bekliyorsun? Yapmaktan ve başarmaktan korkma, birilerinin yapamazsın demesi seni sakın yıldırmasın.Yapman gereken tek şey sadece hayal kurmak ve bunu hayata geçirmeye çalışmak. <strong>Haydi SENDE BAŞAR..</strong></p>
						<p class="sign" style="font-size:30px; color:red">Can GÜLER</p>
					</div>
				</div>
				<div class="col-lg-6">
					<img src="~/Content/assets/images/IMG_4872.JPG" style="width:700px; height:400px;" alt="" class="img-fluid">
				</div>

				

			</div>
		</div>
	</section>

</body>
</html>
